{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/animeList.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/icon-set-1/css/fontello.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/icon-set-2/css/fontello.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/icon-set-3/css/fontello.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'js/listFun.js' %}"></script>



{% endblock %}

{% block content %}

<!-- content here-->

<span id="backButton">
    <a href="/index"> 
        <i class="icon-left"></i>
    </a>
</span>

<span id="addButton">
    <a href="/animeAdd?animeId=None&animeInfoId=None&animeGlobalId=None"> 
        <i class="icon-plus"></i>
    </a>
</span>

<div id="animeList">

    <table style="width:100%">

        <tr>
            <th class="columnName"><a href="/sortTitle">Title</a></th>
            <th class="columnName">Episodes</th> 
            <th class="columnName"><a href="/sortStatus">Status</a></th>
            <th class="columnName"><a href="/sortEndDate">End date</a></th>   <!-- Correct phrase?-->
            <th class="columnName"><a href="/sortPremiered">Rating</a></th>  <!-- Correct word-->
            <th class="columnName">Comment</th>
            <th class="columnName">Info</th>
            <th class="columnName">Delete</th>
        </tr>
    
        <form action="listModify" method="post">
            {% csrf_token %}

            {% for anime, epi in aniEpiList %}
                <tr>
                    <td class="cell">
                        <input class="listInput" type="text" value="{{anime.title}}" name="title{{anime.id}}" placeholder="Title">
                    </td>
                    <td class="cell">
                        <button type="button" onclick="decrementEpi('{{anime.id}}')">-</button>
                        <span class="epiWrapper">
                            <input type="number" id="numOfEpiWatched{{anime.id}}" class="epiInputLeft" value="{{anime.finishedEpisodes}}" name="finishedEpisodes{{anime.id}}">/<input type="number" class="epiInputRight" value="{{epi}}" name="">
                        </span>
                        <button type="button" onclick="incrementEpi('{{anime.id}}')">+</button>
                    </td>
                    <td class="cell">
                        <input type="text" value="{{anime.status}}" list="statusEnum" name="status{{anime.id}}" placeholder="Status">
                    </td>
                    <td class="cell">
                        <input type="date" value='{{anime.endDate}}' name="endDate{{anime.id}}" >
                    </td>
                    <td class="cell">
                        <input type="number" list="ratingEnum"  id="ratingCell" value='{{anime.rating}}' name="rating{{anime.id}}"><span style="color: white;"> /10</span>
                    </td>
                    <td class="cell">
                        <input type="text" value="{{anime.comment}}" name="comment{{anime.id}}" placeholder="Comment">
                    </td>
                    <td class="cell">
                        <a href="/animeInfo?animeId={{anime.id}}&animeInfoId={{anime.animeInfoPersonalId}}&animeGlobalId={{anime.animeGlobalId}}"> <i class="icon-info"></i> </a>
                    </td>
                    <td class="cell">
                        <a href="/animeDelete?animeId={{anime.id}}"> <i class="icon-trash"></i> </a>
                    </td>
                </tr>
            {% endfor %}

            <button id="saveButton" type="submit"> 
                <i class="icon-floppy"></i>
            </button>

        </form>

    </table>

</div>

<!-- TODO show all possibilities when one is chosen-->

<datalist id="statusEnum">
    <option value="Watching">
    <option value="Want to watch">
    <option value="Finished">
    <option value="Abandoned">  
</datalist>

<datalist id="ratingEnum">
    <option value="1">
    <option value="2">
    <option value="3">
    <option value="4">  
    <option value="5">
    <option value="6">
    <option value="7">
    <option value="8">
    <option value="9">
    <option value="10">                
</datalist>

{% endblock %}