{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/animeAdd.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'icons/icon-set-4-all/css/fontello.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'js/animeAddFun.js' %}"></script>

{% endblock %}

{% block content %}

{% if noDataFound %}
    <script>alert("No data found");</script>
{% endif %}
{% if wrongTitle %}
<script>alert("Title is blank");</script>
{% endif %}
{% if wrongStatus %}
<script>alert("Wrong status");</script>
{% endif %}
{% if wrongEpisodes%}
<script>alert("You have to input number of finished episodes");</script>
{% endif %}
{% if wrongDate %}
<script>alert("You have to input correct date");</script>
{% endif %}
{% if wrongRatingRange %}
<script>alert("Wrong rating range");</script>
{% endif %}


<span id="backButton">
    <a href="/animeList?by=title&order=asc"> 
        <i class="icon-left"></i>
    </a>
</span>

<!-- content here-->
<div id="container">
    <div id="leftForm" class="form">

        <div id="leftBoxTitle">Data</div>

        <form action="/animeAdd?animeId={{anime.id}}&animeInfoId={{animeInfoPersonal.id}}&animeGlobalId={{animeGlobal.id}}" method="post">
            {% csrf_token %}
            
            <label for="personalTitle">Title: </label>
            <input type="text" value="{{personalTitle}}{{anime.title}}" class="input" name="personalTitle" id="personalTitle" placeholder="Title"><br>
            <label for="personalStatus">Status: </label>
            <input type="text" class="input" value="{{anime.status}}" list="statusEnum" name="status" id="personalStatus" placeholder="Status"><br>
            <label for="personalEpisodes">Episodes: </label>
            <input type="number" class="input" value="{{anime.finishedEpisodes}}" name="finishedEpisodes" id="personalEpisodes" placeholder="Finished episodes"><br>
            <label for="personalEndDate">End date: </label>
            <input type="date" class="input" value="{{anime.endDate}}" name="endDate" placeholder="Date of finish" id="personalEndDate"><br>
            <label for="personalRating">Rating: </label>
            <input type="number" list="ratingEnum" value="{{anime.rating}}" class="input" name="rating" id="personalRating" placeholder="Rating"><br>
            <label for="personalComment">Comment: </label>
            <input type="text" class="input" value="{{anime.comment}}" name="comment" placeholder="Comment" id="personalComment"><br>
            
            <input type = "hidden" name = "animeId"  value = "{{anime.id}}" /> 
            <input type = "hidden" name = "animeInfoPersonalId" id="animeInfoPersonal" value = "{{animeInfo.id}}" /> 
            <input type = "hidden" name = "animeInfoGlobalId" id="animeInfoGlobal" value = "{{animeGlobal.id}}" /> 
            <!-- debugging -->
            <!--<input type = "number" name = "animeId"  value = "{{anime.id}}" /> 
            <input type = "number" name = "animeInfoPersonalId" id="animeInfoPersonal" value = "{{animeInfo.id}}" /> 
            <input type = "number" name = "animeInfoGlobalId" id="animeInfoGlobal" value = "{{animeGlobal.id}}" />-->

            <input type="submit" class="submitButton" value="Submit">
            <input type="submit" formaction="/animeScraper?animeId={{anime.id}}&animeInfoId={{animeInfo.id}}&animeGlobalId={{animeGlobal.id}}" class="submitButton" value="Find">

    </div>

    <div id="rigthForm" class="form">

        <div id="rigthBoxTitle">Informations</div>
            <!--onchange="checkChanges()" should be everywhere; TODO implement it differently? -->
            <label for="globalTitle">Full title: </label>
            <input type="text" value="{{animeInfo.title}}{{animeGlobal.title}}" class="input" name="globalTitle" id="globalTitle" placeholder="Title"><br>
            <label for="directedBy">Directed by: </label>
            <input type="text" value="{{animeInfo.directedBy}}{{animeGlobal.directedBy}}" class="input" name="directedBy" id="directedBy" placeholder="Directed by"><br>
            <label for="producedBy">Produced by: </label>
            <input type="text" value="{{animeInfo.producedBy}}{{animeGlobal.producedBy}}" class="input" name="producedBy" id="producedBy" placeholder="Produced by"><br>
            <label for="writtenBy">Written by: </label>
            <input type="text" onchange="checkChanges()" value="{{animeInfo.writtenBy}}{{animeGlobal.writtenBy}}" class="input" name="writtenBy" id="writtenBy" placeholder="Written by" ><br>
            <label for="musicBy">Music by: </label>
            <input type="text" value="{{animeInfo.musicBy}}{{animeGlobal.musicBy}}" class="input" name="musicBy" id="musicBy" placeholder="Music by" ><br>
            <label for="studio">Studio: </label>
            <input type="text" value="{{animeInfo.studio}}{{animeGlobal.studio}}" class="input" name="studio" id="studio" placeholder="Studio" ><br>
            <label for="licensedBy">Licensed by: </label>
            <input type="text"  value="{{animeInfo.licensedBy}}{{animeGlobal.licensedBy}}" class="input" name="licensedBy" id="licensedBy" placeholder="Licensed by" ><br>
            <label for="originalNetwork">Original network: </label>
            <input type="text" value="{{animeInfo.originalNetwork}}{{animeGlobal.originalNetwork}}"  class="input" name="originalNetwork" id="originalNetwork" placeholder="Original network" ><br>   
            <label for="englishNetwork">English network: </label>
            <input type="text" value="{{animeInfo.englishNetwork}}{{animeGlobal.englishNetwork}}"  class="input" name="englishNetwork" id="englishNetwork" placeholder="English network" ><br>   
            <label for="originalRun">Original run: </label>
            <input type="text" value="{{animeInfo.originalRun}}{{animeGlobal.originalRun}}" class="input" name="originalRun" id="originalRun" placeholder="Original run" ><br>       
            <label for="globalEpisodes">Episodes: </label>
            <input type="number" value="{{animeInfo.episodes}}{{animeGlobal.episodes}}" class="input" name="globalEpisodes" id="globalEpisodes" placeholder="Number of episodes" ><br>

        </form>

    </div>
    <div style="clear: both;" > </div>
</div>

<datalist id="statusEnum">
    <option value="Watching">
    <option value="Want to watch">
    <option value="Finished">
    <option value="Abandoned">  
</datalist>

<datalist id="ratingEnum">
    <option value="1">
    <option value="2">
    <option value="3">
    <option value="4">  
    <option value="5">
    <option value="6">
    <option value="7">
    <option value="8">
    <option value="9">
    <option value="10">                
</datalist>

<!--{{data}}-->

{% endblock %}