{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />

{% endblock %}


{% block content %}

<div id="headMenu">
    {% if user.is_authenticated %}
        <span id="greetingText">Hello, {{user.first_name}}</span>
        <div class="headMenuButton" id="headMenuButtonLogged"><a href="accounts/logout" class="aTagHeadButton">Log out</a></div>
    {% else %}
        <div class="headMenuButton"><a href="accounts/login" class="aTagHeadButton">Log in</a></div>
        <div class="headMenuButton"><a href="accounts/register" class="aTagHeadButton">Register</a></div>
    {% endif %}
    <div style="clear:both"></div>
</div>


<!-- content here-->

<div id="menu">
    <div class="menuButton"> <a href = "/animeList?by=title&order=asc" class="aTagButton">Anime</a></div><br>
    <div class="menuButton"> <a href = "/mangaList?by=title&order=asc" class="aTagButton">Manga</a> </div><br>
    <div class="menuButton"> <a href = "/filmsList?by=title&order=asc" class="aTagButton">Films</a> </div><br>
    <div class="menuButton"> <a href = "/seriesList?by=title&order=asc" class="aTagButton">TV Series</a> </div><br>
    <div class="menuButton"> <a href = "/booksList?by=title&order=asc" class="aTagButton">Books</a> </div><br>
    <div class="menuButton"> <a href = "/gamesList?by=title&order=asc" class="aTagButton">Games</a> </div><br>
</div>




{% endblock %}
