{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />

{% endblock %}

{% block content %}

<div id="loginFormContainer">
    <div id="formTitle">Login</div>
    <form action="/accounts/login" method="post" id="loginForm">
        {% csrf_token %}
        <label for="usernameInput">Username:</label>
        <input type="text" id="usernameInput" name="username" placeholder="Username"><br>
        <label for=passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="password" placeholder="Password"><br>

        <input type="submit" id="loginButton" value="Log in">
    </form>
    <a href="/accounts/register">Register</a>
    <div>
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
</div>

{% endblock %}